$dark-black: #24262a;
$dark-lighter-black: #313238;
$black: #35383e;
$light-black: #35383e;

$type-not-hovered: #72767d;

$hovered-menu-item: #42454d;

$offline-dot: #747f8d;
$online-dot: rgb(83, 190, 144);

$chat-input-background: #52565c;
$chat-input-color: rgba(255, 255, 255, 0.7);

// ------------------------

$divisor: 1px solid rgba(255, 255, 255, 0.06);
